<app-nav></app-nav>

<section class="d-flex flex-row justify-content-start">
    <img src="frontend/assets/musician.jpg">
    <div>
        <h2>Nom de l'artiste</h2>
        <span>organisateur/Musicien</span>
        <p>Coordonnées</p>
        <p>Note sur 5</p>
    </div>
</section>

<!-- <section class=" container d-flex justify-content-center flex-column align-items-center">

    <h2>Name
    <span>Musicien/organisateur</span>
    </h2>

    <p>Description de la personne</p>

    

</section> -->


