<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">REDDRUM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">News <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link SeConnecter" href="#">Se connecter</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <button type="button" class="btn btn-light">S'inscrire</button>
            </li>
        </ul>
    </div>
  </nav>

  <section class="HomeText">
      <h1>Show what you got</h1>
      <p>Rejoignez une communauté de passionnés, 
          identifiez votre public, choisissez vos prestations,
          connectez-vous avec les utilisateurs qui vous intéressent
          et performez en live.
      </p>
        <div class="HomeButton">
      <button type="button" class="btn btn-light-red">MUSICIEN</button>
      <button type="button" class="btn btn-light-transparent border border-white">ORGANISATEUR</button>
        </div>
  </section>

<router-outlet></router-outlet>
