<app-nav></app-nav>

<h2>Blog Tips</h2>
<div class="row">

<div class="container">
    <img src="/assets/first.jpg" class="size" alt="Groupe de musique de Lille">
    <div class="detail">
        <h3>Groupe de musique à Lille :</h3>
        <p>Vous cherchez un groupe de musique à Lille pour animer vos soirées ? 
            Nous sommes à votre disposition.
        </p>
        <p class="italic">John Mercedes</p>
    </div>
</div>

<div class="container">
        <img src="frontend/assets/second.jpg" class="size" alt="Fête de la musique">
        <div class="detail">
            <h3>Fête de la musique !</h3>
            <p>Fête de la musique : organisez un concert pour
                vos clients, pour vos amis, pour vous et surtout
                pour célébrer la musique le 21 Juin prochain.
            </p>
            <p class="italic">Ford Miles</p>
        </div>
    </div>

    <div class="container">
            <img src="frontend/assets/third.jpg" class="size" alt="Fêter son anniversaire">
            <div class="detail">
                <h3>Anniversaire !</h3>
                <p>Vous avez un anniversaire à fêter ? Rejoignez-nous à
                    Bordeaux dans nos nouveaux locaux ! Vous y serez bien accueillis 
                    avec de bonnes animations.
                </p>
                <p class="italic">Lily Cooper</p>
            </div>
        </div>

</div>
