.SeConnecter{
    margin-right: 10px;
}

h2{
    text-align: center;
    font-family: 'Love Nature';
    margin-top: 10px;
    font-size: 40px;
}

.row{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 430px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;

}

.size{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.italic{
    font-style: italic;
}