<app-nav></app-nav>

<div class="row">

<div class="container">
    <img src="/assets/cliché.jpg" class="size">
    <div class="detail">
        <h3>Groupe de musique à Lille :</h3>
        <p>Vous cherchez un groupe de musique à Lille pour animer vos soirées ? 
            Nous sommes à votre disposition.
        </p>
        <p>John Mercedes</p>
    </div>
</div>

<div class="container">
        <img src="/assets/cliché.jpg" class="size">
        <div class="detail">
            <h3>Fête de la musique !</h3>
            <p>Fête de la musique : organisez un concert pour
                vos clients, pour vos amis, pour vous et surtout
                pour célébrer la musique le 21 Juin prochain.
            </p>
            <p>Ford Miles</p>
        </div>
    </div>

    <div class="container">
            <img src="/assets/cliché.jpg" class="size">
            <div class="detail">
                <h3>Anniversaire !</h3>
                <p>Vous avez un anniversaire à fêter ? Rejoignez-nous à
                    Bordeaux dans nos nouveaux locaux ! Vous y serez bien accueillis 
                    avec de bonnes animations.
                </p>
                <p>Lily Cooper</p>
            </div>
        </div>

</div>