<!--The content below is only a placeholder and can be replaced.-->

<app-nav></app-nav>

  <section class="HomeText">
      <h1>Show what you got</h1>
      <p>Rejoignez une communauté de passionnés, 
          identifiez votre public, choisissez vos prestations,
          connectez-vous avec les utilisateurs qui vous intéressent
          et performez en live.
      </p>
        <div class="HomeButton">
      <button type="button" class="btn btn-light-red">MUSICIEN</button>
      <button type="button" class="btn btn-light-transparent border border-white">ORGANISATEUR</button>
        </div>
  </section>

